.title{
    font-family:Monserrat-SemiBold;
    font-size: 18px;
    color: #414040;
}

.title-error{
    color: #eb4545
}

.description{
    color: #414040;
}

button{
    width: 100%;
    border-radius:0.8rem;
}

button:active{
    outline: none;
    border: 0px solid solid;
}

button:visited{
    outline: none;
    border: 0px solid solid;
}

button:hover{
    background-color: #414040;
    color: white;
}

button:focus {
    outline: none;
}