<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="title" [ngClass]="{'title': true, 'title-error': titleError}">{{this.title}}</p>
            </div>
            <div class="col-sm-12 text-center description">
                {{this.text}}
            </div>
            <div class="col-sm-12 text-center mt-3" *ngIf="this.showYesNoButtons">
                <div class="row">
                    <div class="col-sm-6"><button (click)="onClickOptionNo()">No</button></div>
                    <div class="col-sm-6"><button (click)="onClickOptionyes()">Yes</button></div>
                </div>
            </div>
            <div class="col-sm-12 text-center mt-3" *ngIf="this.showOkbutton">
                <button (click)="onClickOptionOk()">OK</button>
            </div>
            <div class="col-sm-12 text-center mt-3" *ngIf="this.showVerifybutton">
                <button (click)="onClickOptionOk()">Take me home</button>
            </div>
        </div>
    </div>
</div>