<nav class="navbar navbar-custom py-3">
    <div class="col-3 col-sm-3">
      <div style="float: left;">
        <span class="material-icons menu-icon" style="color:white;font-size: 40px" (click)="toggleSideNav()">menu</span>
      </div>
    </div>
    <div class="col-6 col-sm-6">
      <div class="text-center">
        <myinput [placeholder]="''"></myinput>
      </div>
    </div>
    <div class="col-3 col-sm-3">
      <div style="float: right;">
        <img src="/assets/images/logo3.png" alt="image" style="width: 65px;">
      </div>
    </div>
</nav>