<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <p class="author">{{this.userName}}</p>
            <p class="date">{{this.shortNameDate}}</p>
        </div>
        <div class="col-sm-3 text-right">
            <app-my-tip [emailUser]="this.userName" [amount]="this.amount" [solutionId]="this.solutionIdEncripted" [userIdTipped]="this.userIdTippedEncrypted" style="display: inline-block;"></app-my-tip>
        </div>
    </div>
    <hr class="divider">
    <div class="row mb-5">
        <div class="col-sm-1 vertical-align text-center">
            <span class="material-icons return-icon" (click)="this.onBack()">keyboard_arrow_left</span>
        </div>
        <div class="col-sm-11 vertical-align">
            <p class="title">{{this.title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-solution mb-4 text-center" *ngFor="let cont of this.listContent; index as i; first as isFirst">
                <app-content [content]="cont.content" [type]="cont.type"></app-content>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12">
            <trendingtopic-pill [ngClass]="{'ml-2': !isFirst}" *ngFor="let trending of trendings; index as i; first as isFirst" [trending]="trending"></trendingtopic-pill>
        </div>
    </div>
    <div class="row container-comments">
        <div class="col-sm-12">
            <div class="mb-1">
                <app-my-textarea [placeHolder] = "'Enter a comment...'" #comment></app-my-textarea>
            </div>
            <div class="mb-4 text-center">
                <app-my-button [text] ="'Post it!'" [width] ="'200px'" (click)="this.postcomment()"></app-my-button>
            </div>
            <div class="mb-4">
                <app-comment *ngFor="let comment of comments; index as i; first as isFirst" [comment]="comment"></app-comment>
            </div>
        </div>
    </div>
</div>