<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="username">TheBugKiller</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <div class="d-inline-block mr-2">
                <p class="mb-0">0</p>
                <p class="litle-title">Posts</p>
            </div>
            <div class="d-inline-block ml-2">
                <p class="mb-0">$0</p>
                <p class="litle-title">Tips</p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6 mb-2 card-wrap" *ngFor="let sol of solutions; index as i; first as isFirst">
            <solution-card [solution]="sol"></solution-card>
        </div>
    </div>
</div>
