.username {
    font-family: Monserrat-SemiBold;
    font-size: 23px;
}

.litle-title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.card-wrap {
    padding-right: 7px;
    padding-bottom: 10px;
}
