<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="username">TheBugKiller</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <div class="d-inline-block mr-2">
                <p class="mb-0"> {{ myPosts }}</p>
                <p class="litle-title">{{ this.strings.postTitle }}</p>
            </div>
            <div class="d-inline-block ml-2">
                <p class="mb-0">$ {{ myTips }} </p>
                <p class="litle-title">Tips</p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6 mb-3 card-wrap" style="position: relative;" [ngClass]="{'disabledCard': sol.status == '0'}" *ngFor="let sol of solutions; index as i; first as isFirst">
            <solution-card [solution]="sol"></solution-card>
            <div class="custom-control custom-switch" style="position: absolute; top: 10px; right: 10px;">
                <input [checked]="sol.status == '1'" checked="" (click)="openStatus($event.currentTarget,sol)" type="checkbox" 
                        class="custom-control-input" id="{{sol.id}}">
                <label class="custom-control-label" for="{{sol.id}}"></label>
            </div>
        </div>
    </div>
</div>
