:root {
    --primary-color: black;
    --background-color: black;
    --text-color: white;

    --card-background-color: #414040;
    --trending-badge-background-color: #414040;
    --navbar-background-color: #414040;
    
    --text-color-grey: #b5b5b5;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Monserrat-Regular;

    padding: 0;
    margin: 0;
    // display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.loading.modal.show .modal-dialog{
    justify-content: center;
  	align-items: center;
}

.loading.modal.show .modal-content{
    width: 85px;
    border: 0px !important;
}

.loading.modal .modal-content{
    width: 85px;
    border: 0px !important;
}

@media (min-width: 576px){
    .loading.modal .modal-sm {
        max-width: 85px !important;
    }
}
