<div class="tip-container" (click)="this.open(mymodal)" (mouseover)="this.mouseOver()" (mouseleave)="this.mouseLeave()">
    <p class="tip" *ngIf="!showAddIcon">${{this.amount}}</p>
    <span class="material-icons return-icon" [@inOutAnimation] *ngIf="showAddIcon">add</span>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-body" *ngIf="this.showTipAmountContent">
    <div class="header-container mb-4" >
      <img [src]="'assets/images/coding_' + this.randomNumber + '.gif'" style="width: 100%;">
      <div class="super-tip-container text-center">
        <div class="tip-container add-tip" (click) = "this.addTip()">
          <p class="tip">${{this.initalTip}}</p>
        </div>
      </div>
    </div>
    <div class="detail-container">
      <p style="font-size: 13px;font-style: italic;text-align: center;">Click on the green circle to add more tips</p>
      <p class="text-detail" style="font-size: 15px;margin-top: 5px;">The developer will continue publishing new solutions with your tip!</p>
    </div>
    <div class="continue-container float-right" (click)="this.continue()">
      <p class="m-0">Continue</p>
      <span class="material-icons">keyboard_arrow_right</span>
    </div>
  </div>
  <div class="modal-body" *ngIf="this.showPayTipContent">
    <div class="detail-container-pay">
      <p class="text-detail" style="font-size: 13px;margin-bottom: 20px;">You can tip with these payment methods</p>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="continue-container float-left" (click)="this.return()">
      <span class="material-icons">keyboard_arrow_left</span>
      <p class="m-0">Return</p>
    </div>
  </div>
</ng-template>
