<div class="tip-container" (click)="this.open(mymodal)" (mouseover)="this.mouseOver()" (mouseleave)="this.mouseLeave()">
    <p class="tip" *ngIf="!showAddIcon">$10</p>
    <span class="material-icons return-icon" [@inOutAnimation] *ngIf="showAddIcon">add</span>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-body">
    <div class="header-container mb-4" >
      <div class="super-tip-container text-center">
        <div class="tip-container add-tip" (click) = "this.addTip()">
          <p class="tip">${{this.initalTip}}</p>
        </div>
      </div>
    </div>
    <div class="detail-container">
      <p class="text-detail" style="font-size: 13px;">With yout Tip the Developer can eat one day more</p>
    </div>
    <div class="continue-container float-right" (click)="this.continue()">
      <p class="m-0">Continue</p>
      <span class="material-icons">keyboard_arrow_right</span>
    </div>
  </div>
</ng-template>
