<div class="mb-3">
    <div class="container-multimedia" *ngIf="multimediaShow">
        <div class="center">
            <input style="display: none" type="file" (change)="onFileChanged($event)" accept='image/*' #hiddenfileinput>

            <span class="material-icons input-icon" (click)="selectOption(1)">text_fields</span>
            <span class="material-icons input-icon ml-3" (click)="hiddenfileinput.click()">image</span>
            <span class="material-icons input-icon ml-3" (click)="selectOption(3)">code</span>
            <span class="material-icons input-icon-remove ml-3" (click)="selectOption(4)">delete</span>
        </div>
    </div>
    
    <div *ngIf="textAreaShow">
        <div style="width: 95%;display: inline-block">
            <app-my-textarea></app-my-textarea>
        </div>
        <div style="width: 5%;display: inline-block;vertical-align: top;">
            <span class="material-icons input-icon-remove" (click)="selectOption(4)">delete</span>
        </div>
    </div>
    
    <div *ngIf="imageShow">
        <div style="width: 95%;display: inline-block">
            <div class="text-center">
                <img [src]="urlImage" width="100%">
            </div>
        </div>
        <div style="width: 5%;display: inline-block;vertical-align: top;">
            <span class="material-icons input-icon-remove" (click)="selectOption(4)">delete</span>
        </div>
    </div>

    <div [hidden]="!codeEditorShow">
        <div style="width: 95%;display: inline-block">
            <div class="text-center">
                <div class="app-ace-editor" #editor style="width: 100%;height: 350px;"></div>
            </div>
        </div>
        <div style="width: 5%;display: inline-block;vertical-align: top;">
            <span class="material-icons input-icon-remove" (click)="selectOption(4)">delete</span>
        </div>
    </div>
</div>
