<div class="modal-body">
    <form [formGroup]="frmLogin">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="title">Welcome!</p>
                </div>
                <div class="col-sm-12">
                    <app-input [type]="'text'" [name]="'email'" [formGroup]="this.frmLogin" [placeHolder]="'Enter Email'"></app-input>
                </div>
                <div class="col-sm-12 mt-3">
                    <app-input [type]="'password'" [name]="'password'" [formGroup]="this.frmLogin" [placeHolder]="'Enter Password'"></app-input>
                </div>
                <div class="col-sm-12 text-center">
                    <p style="margin-top: 15px; margin-bottom: 0px;" class="error">{{this.error}}</p>
                </div>
                <div class="col-sm-12 mt-3">
                    <app-button (click)="this.login()" [text]="'Login'"></app-button>
                </div>
            </div>
        </div>
    </form>
</div>