<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <input type="text" class="input-text" placeholder="TITLE...">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="container-multimedia">
                <div class="center">
                    <span class="material-icons input-icon">text_fields</span>
                    <span class="material-icons input-icon ml-3">image</span>
                    <span class="material-icons input-icon ml-3">code</span>
                    <span class="material-icons input-icon-remove ml-3">delete</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-5">
            <div class="textarea-container">
                <app-my-textarea></app-my-textarea>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="text-center">
                <span class="material-icons input-icon add-icon">add</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <app-my-button [text] ="'POST'" [width] ="'200px'"></app-my-button>
            </div>
        </div>
    </div>
</div>