<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <input type="text" class="input-text" placeholder="TITLE..." [(ngModel)]="this.title" maxlength="50" (ngModelChange)="titleChange($event)">
        </div>
    </div>
    <div class="row" *ngFor="let sol of this.multimediaList; index as i; first as isFirst">
        <div class="col-sm-12">
            <app-multimedia [events]="eventsSubject.asObservable()"></app-multimedia>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="text-center">
                <span class="material-icons input-icon add-icon" (click)="addMultimedia()">add</span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <input-tags [sharedListTags]="this.solutionTags"></input-tags>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <app-my-button [text] ="'POST'" [width] ="'200px'" (click)="this.openConfirmationModal()"></app-my-button>
            </div>
        </div>
    </div>
</div>