<div class="card" (click)="this.goToSolution()">
    <div class="card-body">
        <a href="javascript:void(0)">
            <h5 class="card-title">
                {{this.solution.title}}
            </h5>
        </a>
        <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
        <p class="card-text">{{this.solution.description}}</p>
        <div class="card-footer">
            <p class="align-middle">{{ this.solution.shortDateName }}</p>
            <!--p class="space-left align-middle">20</p>
            <span class="material-icons align-middle" style="font-size: 13px;margin-left: 3px;">mode_comment</span>
            <p class="space-left align-middle">100</p>
            <span class="material-icons align-middle" style="font-size: 13px;margin-left: 0px">attach_money</span-->
        </div>
    </div>
</div>